extends layout

block content
  .jumbotron
    .container
      h1 How May I help you ?
      p wekfmwkemdklwemdklmwkledmklsmdklf msdmlf sdfmskdlmflkwefmkfewepokfwerok
      weorkwpoedwpmdklwmdklsmfkpwed
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
  .container
    .row
      .col-md-4
        h2 About us
        p Select the Tasks: Configure Task Runner command and you will see a list of task runner templates. Select Others to create a task which runs an external ...

        a.btn.btn-default(href='#') View Details 
      .col-md-4
        h2 Services
        p Select the Tasks: Configure Task Runner command and you will see a list of task runner templates. Select Others to create a task which runs an external ...

        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get in touch
        p Select the Tasks: Configure Task Runner command and you will see a list of task runner templates. Select Others to create a task which runs an external ...

        a.btn.btn-default(href='#') View Details            
